<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}" method="POST">
    <a th:text="${person.getId()}"></a>
    <label for="id">Enter id</label>
    <input type="text" th:field="*{id}" value="${person.getId()}" id="id"/>

    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>