<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  th:action="@{/people/update/{id}(id=${person.getId()})}" th:object="${person}" th:method="PATCH">
    <a th:text="${person.getId()}"></a>




    <label for="name">Enter name</label>
    <input type="hidden" th:field="*{name}" id="name"/>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Enter email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>

    <br/>
    <!--выбор категории билета-->
    <label for="corce">Select category:</label>
    <select name="corce" id="corce">

            <option th:each="object : ${courseList}" th:text="${object.getCourses()}" th:value="${object.getId()}"></option>

    </select>

    <input type="submit" value="Update"/>
</form>

<a th:href="@{/course/stades/{id} (id=${person.getId()})}">course</a>







</body>
</html>
<!--<form  th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}" th:method="PATCH">-->